* {
  box-sizing: border-box;
}

img{
opacity=0.5;
}

body {
background-image:url("image.jpg");
background-repeat: no-repeat;
 background-size: 1500px 600px;
 background-attachment: fixed;
  background-position: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  p.thick {
      font-weight: bold;
    }

p.thin{
font-weight:normal;
}


    .column {
      float: left;
      width: 50%;
      padding: 15px;
        background-color:#e6f0ff;
      opacity: 0.8;
    }

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    .center {
      margin: auto;
      width: 50%;
      border: 3px solid yellow;
      padding: 10px;
}

